*{
margin: 0%; 
}
body{
    background-image: url('./images/fundo3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
header{   
    color: white;
    font-size: 20pt;
}
h2{     
padding-top: 10px;
text-align: center;
}
ul{
    padding: 0%;
}
li{
 color: white; 
 font-size: 15pt; 
 font-family: "Comic Sans MS";  
 list-style: none;
 padding-left: 15px;
}